.footer {
  background-color: #1c1d25;
  width: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 15px 0;
      color: #f3f3f3;
      transition: color 0.3s ease;
      position: relative;
    }

    a + a {
      margin-left: 60px;
    }
  }
}

.footer-date {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  color: #f3f3f3;
}
